/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-form input {
  padding: 10px;
}

.search-form button {
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  background-color: white;
  overflow: hidden;
  max-width: 360px;
  height: 200px;
}

.gallery-item img {
  width: 100%;
  height: 152px;
  object-fit: cover;
}

.info {
  display: flex;
  gap: 28px;
  justify-content: center;
  padding: 4px;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 100%;
  z-index: 999;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info-content {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.load-more-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-more {
  position: relative;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 0 auto;
  display: none;
}

/* .load-more.hidden {
  display: none;
} */

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 4px solid #ff3d00;
  border-top: 4px solid transparent;
  animation: rotation 1s linear infinite;
  display: none;
}

.loader.show {
  display: inline-block;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
